<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_2_0.xsd"
       bean-discovery-mode="all">
    
    <decorators>
        <class>ro.uaic.info.laborator7.business.DocumentsServiceDecorator</class>
        <class>ro.uaic.info.laborator7.business.UsersServiceDecorator</class>
    </decorators>
    
    <interceptors>
        <class>ro.uaic.info.laborator7.crosscutting.LoggedInterceptor</class>
    </interceptors>

</beans>